.slika {
  max-width: 60%;
  max-height: 35%;
  min-width: 30%;
  min-height: 20%;
  margin: 2% 0;
  align-self: center;
}

input[type="file"] {
  visibility: hidden;
}

.slika-conteiner {
  display: flex;
  flex-direction: row;
}
