.slika {
  max-width: 60%;
  max-height: 35%;
  min-width: 30%;
  min-height: 20%;
  margin: 2% 0;
  align-self: center;
}

input[type="file"] {
  visibility: hidden;
}

.slika-conteiner {
  display: flex;
  flex-direction: row;
}

.btn-add-post {
  background-color: transparent;
}
.btn-add-post:hover {
  background-color: #b0f0f5;
  opacity: 0.8;
  color: rgb(42, 16, 66);
  border: 1px solid #540a57;
}
