<div class="container">
  <div class="wrapper">
    <h3>Obaveštenja</h3>
    <div *ngFor="let notification of notifications">
      <div
        class="card text-center hoverable marginable"
        (click)="goTo(notification.from)"
      >
        <label>{{ getDate(notification.timeSent) }}</label>
        <div class="card-body">
          <h5 class="card-title">{{ TYPE[notification.type] }}</h5>
          <p class="card-text">
            Korisnik <b>@{{ notification.from }}</b>
            {{ getDescription(notification) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
