<div class="container">
  <h3>Obaveštenja</h3>
  <h4 *ngIf="notifications.length == 0">Nemate obaveštenja</h4>
  <div *ngFor="let notification of notifications; index as i">
    <div
      *ngIf="
        notification.type != 'new-post-on-location';
        then user;
        else location
      "
    ></div>
    <ng-template #location>
      <div class="card text-center marginable">
        <div class="time-close-div">
          <label>{{ getDate(notification.timeSent) }}</label>
          <button class="hoverable" (click)="deleteNotification(i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div
          class="card-body hoverable"
          (click)="goToLocation(notification.content)"
        >
          <img src="http://localhost:3000/images/{{ notification.type }}.svg" />
          <p class="card-text">
            <b>{{ notification.from }}</b>
            {{ getDescription(notification) }}
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template #user>
      <div class="card text-center marginable">
        <div class="time-close-div">
          <label>{{ getDate(notification.timeSent) }}</label>
          <button class="hoverable" (click)="deleteNotification(i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div
          class="card-body hoverable"
          (click)="goToProfile(notification.from)"
        >
          <img src="http://localhost:3000/images/{{ notification.type }}.svg" />
          <p class="card-text">
            Korisnik <b>@{{ notification.from }}</b>
            {{ getDescription(notification) }}
          </p>
        </div>
      </div>
    </ng-template>
  </div>
  <button *ngIf="hasMore" class="hoverable marginable" (click)="loadMore()">
    Učitajte još
  </button>
</div>
