<div class="container">
  <h1>Komentari</h1>

  <div class="content">
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
      [postId]="post.id"
      [postedUsername]="post.person.username"
      (commentDeleted)="deleteComment(comment)"
    >
    </app-comment>
  </div>

  <div class="controll">
    <h2 *ngIf="comments.length == 0">Objava nema komentara</h2>
    <h5 class="header-more" *ngIf="hasMore" (click)="loadMore()">
      Učitaj još komentara
    </h5>

    <input
      class="full-width input-box"
      placeholder="Dodajte komentar...."
      (keyup.Enter)="sendComment($event)"
    />
  </div>
</div>
