<mat-card class="comment-list-card">
  <mat-card-header>
    <mat-card-title>Komentari</mat-card-title>
  </mat-card-header>

  <mat-card-content class="mat-card-list">
    <button mat-button *ngIf="hasMore" (click)="loadMore()">
      Učitaj još komentara
    </button>
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
      [postId]="post.id"
      [postedUsername]="post.person.username"
    >
    </app-comment>
  </mat-card-content>

  <mat-card-footer>
    <mat-form-field appearance="outline" class="full-width centered">
      <mat-label>Unesite svoj komentar</mat-label>

      <input
        matInput
        placeholder="Budite kulturni...."
        (keyup.Enter)="sendComment($event)"
      />
    </mat-form-field>
  </mat-card-footer>
</mat-card>
