<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <input
    placeholder="Pretražite korisnike i lokacije..."
    *ngIf="this.exploreService.searchToggle"
    class="search-input"
  />
  <div class="container-fluid" *ngIf="!this.exploreService.searchToggle">
    <a class="navbar-brand" routerLink="">TravelNet</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav tabs">
        <a class="nav-link" routerLink="/home" *ngIf="isLoggedIn"
          ><mat-icon>home</mat-icon></a
        >
        <a
          class="nav-link"
          routerLink="/explore"
          *ngIf="isLoggedIn"
          (click)="this.exploreService.searchToggle = true"
          ><mat-icon>search</mat-icon></a
        >
        <a class="nav-link" routerLink="/messages" *ngIf="isLoggedIn"
          ><mat-icon>message</mat-icon></a
        >
        <button
          class="post-button nav-link"
          (click)="toggleNotifications()"
          *ngIf="isLoggedIn"
        >
          <mat-icon>notifications</mat-icon>
        </button>
        <a
          class="nav-link"
          [routerLink]="['/profile', this.username]"
          *ngIf="isLoggedIn"
          ><mat-icon>person</mat-icon></a
        >
        <button
          class="post-button nav-link"
          *ngIf="isLoggedIn"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
        </button>
        <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn"
          >Prijavi se</a
        >
        <a class="nav-link" routerLink="/registration" *ngIf="!isLoggedIn"
          >Registracija</a
        >
      </div>
    </div>
  </div>
</nav>
<app-notifications
  (destroy)="toggleNotifications()"
  *ngIf="displayNotifications && isLoggedIn"
></app-notifications>
<div
  class="search-result-div animate__animated animate__bounceInDown"
  *ngIf="this.exploreService.searchToggle"
>
  <div class="search-users-div">
    <h3>Korisnici</h3>
    <app-friends-list
      [friends]="this.exploreService.displayedUsers"
      [displayData]="true"
    ></app-friends-list>
    <button
      class="load-more-button"
      (click)="this.exploreService.loadMoreUsers()"
    >
      Učitaj još
    </button>
  </div>
  <div class="search-locations-div">
    <h3>Lokacije</h3>
    <app-location-card-list
      [locations]="this.exploreService.displayedLocations"
      [displayData]="true"
    ></app-location-card-list>
    <button
      class="load-more-button"
      (click)="this.exploreService.loadMoreLocations()"
    >
      Učitaj još
    </button>
  </div>
</div>
