<app-spinner class="spinner" *ngIf="isLoading"></app-spinner>

<div class="row justify-content-around d-flex flex-wrap my-2 p-2" *ngIf="!isLoading">
    <div class="col-sm-3">
        <app-hotspots [locations]="this.leaderboard"></app-hotspots>
    </div>

    <div class="col-12 col-sm-6 d-flex justify-content-center flex-column" *ngIf="this.posts && this.posts.length > 0">
        <app-post-list [profilePosts]="false" [posts]="this.posts"></app-post-list>

        <div class="container border-bottom border-dark my-2"></div>
        <button mat-icon-button class="w-10 mb-3 load-more"
        (click)="loadMore($event)" *ngIf = "this.hasMore"><mat-icon>keyboard_arrow_down</mat-icon></button>
    </div>

    <div *ngIf="this.posts && this.posts.length == 0" class="text-center tekst col-12 col-sm-7 text-wrap">
        Vasa pocetna strana je prazna, potrazite lokacije, ili prijatelje koje vas zanimaju na stranici
        <span class="link"><a routerLink="/explore">Explore</a></span>
    </div>

    <div class="col-sm-3">
        <p class="decor p-4 decor-container rounded"><b>TOP 5 gradova koje morate posetiti do kraja života:</b></p>
        <p class="decor p-4 decor-container rounded text-p">1. Venecija, Italija<br>
          Jednostavno je nemoguće napraviti ovakvu listu bez Venecije, zar ne? Od dobro poznatih kanala i grandioznih bazilika, preko raznobojnih fasada i dobrih malih barova, Venecija je jedinstveno mesto, poput ni jednog drugog na zemlji.</p>

          <p class="decor p-4 decor-container rounded text-p">2. Sevilja, Španija<br>
          Sevilja je dragulj nekadašnje carske Španije, a posetioci su oduševljeni uskim ulicama obloženim narandžastim cvetovima, mavarskim dvorcima i gastronomskim specijalitetima.</p>

          <p class="decor p-4 decor-container rounded text-p">3. Njujork, SAD<br>
          Ne čudi zašo Njujork često nazivaju „Raskrsnicom sveta“. Nigde na svetu nećete pronaći tako zadivljujuću koncentraciju umetnosti, kulture, kulinarstva i biznisa.</p>

          <p class="decor p-4 decor-container rounded text-p">4. Lasa, Kina<br>
          Lasa je duhovni centar tibetanskog budizma. Surovi vrhovi Himalaja sa manastirima i palatama iz kojih se uvek oseća tamjan, čine Lasu jednim od najupečatljivijih gradova na svetu.</p>

          <p class="decor p-4 decor-container rounded text-p">5. Rio de Žaneiro, Brazil<br>
          Od svetski poznatog karnevala pa do nezaboravne panorame, Rio je iskustvo za svih 5 čula. Ne može škoditi ni činjenica da se u njemu nalaze dve najpoznatije plaže na svetu!</p>

    </div>
</div>
