<div class="search-div">
  <div class="search-type p-1">
    <div>
      <label class="mx-3 form-check-label">Korisnici</label>
      <input 
        class="form-check-input"
        type="radio"
        name="search-type"
        value="Korisnici"
        [(ngModel)]="this.exploreService.searchType"
      />
    </div>
    <div>
      <label class="mx-3 form-check-label">Lokacije</label>
      <input
        class="form-check-input"
        type="radio"
        name="search-type"
        value="Lokacije"
        [(ngModel)]="this.exploreService.searchType"
      />
    </div>
  </div>
  <input
    placeholder="Pretražite mrežu..."
    class="search-input"
    [(ngModel)]="this.exploreService.searchFilter"
    (keyup)="this.exploreService.search($event)"
  />
  <button (click)="this.exploreService.searchToggle = false">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="search-container" *ngIf="this.exploreService.searchToggle">
  <div class="search-result-div animate__animated animate__bounceInDown">
    <div
      class="search-users-div"
      *ngIf="this.exploreService.searchType == 'Korisnici'"
    >
      <h3>Korisnici</h3>
      <h5
        *ngIf="
          this.exploreService.displayedUsers.length > 0 &&
          this.exploreService.searchFilter == ''
        "
      >
        Prethodne pretrage:
      </h5>
      <h5 *ngIf="this.exploreService.noResult.users">
        Nema traženih korisnika
      </h5>

      <div class="result-list-div">
        <app-friends-list
          [friends]="this.exploreService.displayedUsers"
          [displayData]="true"
        ></app-friends-list>
      </div>

      <button
        class="load-more-button"
        (click)="this.exploreService.loadMoreUsers()"
        *ngIf="this.exploreService.hasMore.users"
      >
        Učitaj još korisnika
      </button>
    </div>
    <div
      class="search-locations-div"
      *ngIf="this.exploreService.searchType == 'Lokacije'"
    >
      <h3>Lokacije</h3>
      <h5
        *ngIf="
          this.exploreService.displayedLocations.length > 0 &&
          this.exploreService.searchFilter == ''
        "
      >
        Prethodne pretrage:
      </h5>
      <h5 *ngIf="this.exploreService.noResult.locations">
        Nema traženih lokacija
      </h5>

      <div class="result-list-div">
        <app-location-card-list
          [locations]="this.exploreService.displayedLocations"
          [displayData]="true"
        ></app-location-card-list>
      </div>

      <button
        class="load-more-button"
        (click)="this.exploreService.loadMoreLocations()"
        *ngIf="this.exploreService.hasMore.locations"
      >
        Učitaj još lokacija
      </button>
    </div>
  </div>
</div>


<app-spinner class="spinner" *ngIf="isLoading"></app-spinner>

<div class="row justify-content-around d-flex flex-wrap my-2" *ngIf="!isLoading">
  <div class="col-sm-3">
    <app-friend-recommendation-list [friends]="newFriends"></app-friend-recommendation-list>
  </div>

  <div
    class="col-12 col-sm-7"
    *ngIf="this.recommendedPosts && this.recommendedPosts.length > 0"
  >
    <app-post-list
      [profilePosts]="false"
      [posts]="this.recommendedPosts"
      [commDisabled]="true"
    ></app-post-list>

    <div class="container border-bottom border-dark my-2"></div>
        <div class="d-flex flex-row justify-content-center m-0">
          <button mat-icon-button class="w-10 mb-3 load-more" 
          (click)="loadMore($event)" *ngIf = "this.hasMore"><mat-icon>keyboard_arrow_down</mat-icon></button>
        </div>
  </div>

  <div class="col-sm-2"></div>
</div>
