.slika {
  width: 280px;
  height: 280px;
  max-width: 280px;
  max-height: 280px;
}

input[type="file"] {
  visibility: hidden;
}

@media only screen and (min-width: 990px) {
  .edit-profile {
    height: 90%;
  }
}

.btn-edit-page {
  background-color: transparent;
}
.btn-edit-page:hover {
  background-color: #b0f0f5;
  opacity: 0.8;
  color: rgb(42, 16, 66);
  border: 1px solid #540a57;
}
