.slika {
  width: 230px;
  height: 230px;
  max-width: 230px;
  max-height: 230px;
}

input[type="file"] {
  visibility: hidden;
}

@media only screen and (min-width: 990px) {
  .edit-profile {
    height: 90%;
  }
}
