<div class="container-fluid px-0" *ngIf="!this.profilePosts">
  <div class="col-12 mb-4" *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </div>
</div>

<div class="container px-0" *ngIf="this.profilePosts">
  <div class="row">
    <div class="col-12 col-sm-4 mb-2 px-1" *ngFor="let post of this.posts">
      <app-post
        [post]="post"
        [isPersonal]="this.isPersonal"
        (postDeleted)="onPostDeleted($event)"
        (imageClicked)="onPostClicked(post, $event)"
      ></app-post>
    </div>
  </div>
</div>

<app-post-view
  *ngIf="post"
  [post]="post"
  (viewClosed)="closeView()"
  [startY]="startY"
></app-post-view>
