<app-spinner class="spinner" *ngIf="isLoading"></app-spinner>

<div class="container border border-rounded my-2 p-2" *ngIf="this.location && !isLoading">
    <div class="text-center">
        <p class="loc mb-1">{{this.location.city + ", " + this.location.country}}</p>
        <p class="text-n">{{ "Objave na ovoj lokaciji : " + this.location.postsNo}}</p>
    </div>
    <div class="row justify-content-around">
        <button class="btn btn-primary col-7 col-sm-2 mb-1" *ngIf="!this.location.followed" (click)="onFollowLoc()">Prati lokaciju</button>
        <button class="btn btn-info col-7 col-sm-2 mb-1" *ngIf="this.location.followed" (click)="onUnfollowLoc()">Otkazi pracenje</button>
        <button class="btn btn-outline-primary button-t col-7 col-sm-2 mb-1" (click)="onFollowers()">{{"Pratioci : " + this.location.followersNo}}</button>
    </div>
</div>

<div class="container my-2">
    <app-friends-list [username]="this.person.username" *ngIf="this.toggleFriends"></app-friends-list>
</div>

<app-post-list
    [profilePosts]="true"
    [posts]="this.location.posts"
    *ngIf="!isLoading && this.location && this.location.posts">
</app-post-list>

<div class="container border-bottom border-dark my-2"></div>
<div class="row justify-content-center mt-1">
    <div class="col-sm-1 d-flex justify-content-center"
    *ngIf="this.location && this.location.posts && this.location.posts.length > 0 && !allRead">
        <button mat-icon-button class="w-50 load-more" (click)="loadMore($event)"><mat-icon>keyboard_arrow_down</mat-icon></button>
    </div>
</div>