<div class="container border border-rounded my-2 p-2">
    <div class="text-center">
        <h2>{{this.location.city + " - " + this.location.country}}</h2>
        <h4>{{ "Broj objava na ovoj lokaciji : " + this.location.postsNo}}</h4>
    </div>
    <div class="row justify-content-around">
        <button class="btn btn-primary col-5">Prati lokaciju</button>
        <button class="btn btn-info col-5">Otkazi pracenje</button>
        <button class="btn btn-primary col-5">{{"Pratioci : " + this.location.followersNo}}</button>
    </div>
</div>