<mat-card class = "friend d-flex flex-row flex-wrap justify-content-between p-1">
    <mat-card-header class="col-5 col-md-8 col-lg-10">
        <img mat-card-avatar src= "{{friend.person.imagePath}}">
        <mat-card-subtitle [routerLink]="['/profile', this.friend.person.username]" class="name m-1">{{friend.person.firstName + " " + friend.person.lastName}}</mat-card-subtitle>
        <mat-card-subtitle [routerLink]="['/profile', this.friend.person.username]" class="username m-1">{{"@" + friend.person.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions *ngIf = "friend.status != 'personal'" class="col-5 col-md-3 col-lg-2">
        <button mat-button class = "btn btn-primary" *ngIf="friend.status=='non_friend'" (click)="onAddFriend()">Dodaj prijatelja</button>
        <button mat-button class = "btn btn-info" *ngIf="friend.status=='friend'" (click)="onDeleteFriend()">Obrisi prijatelja</button>
        <button mat-button class = "btn btn-info" *ngIf="friend.status=='sent_req'" (click)="onDeleteRequest()">Otkazi zahtev</button>
        <button mat-button class = "btn btn-info" *ngIf="friend.status=='rec_req'" (click)="onAcceptRequest()">Prihvati zahtev</button>
        <button mat-button class = "btn btn-info" *ngIf="friend.status=='rec_req'" (click)="onRejectRequest()">Odbij zahtev</button>
    </mat-card-actions>
</mat-card>
