.container {
  background-color: white;
}
.info-text {
  font-size: 150%;
  margin: 0%;
}
.load-more {
  color: #555555;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.load-more:hover {
  color: black;
}
.name {
  color: #555555;
}
.username {
  font-weight: 700;
}
.bio {
  font-weight: 450;
  font-family: cursive;
  font-style: italic;
  color: darkblue;
}
.button-t {
  background-color: transparent;
}
.button-t:hover {
  background-color: #efefef;
  color: #040461;
  border: 1px solid #040461;
}
.edit-btn {
}
