<!-- informacije o korisniku -->
<div class="container border border-rounded my-2 p-2">
    <div class="row d-flex justify-content-around">
        <div class="col-5 col-md-2">
            <img src="{{person.imagePath}}" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-8">
            <p class="text-center info-text">
                {{person.firstName + " " + person.lastName}}
            </p>
            <p class="text-center info-text" *ngIf="isFriend()">
                {{person.email}}
            </p>
            <p class="text-center info-text" *ngIf="!isFriend()">
                Niste prijatelj sa ovom osobom. Dodajte prijatelja da bi videli njegove objave!
            </p>
            <div class="row d-flex justify-content-around mt-2">
                <div class="col-3 col-sm-3" *ngIf="!isFriend()">
                    <button class="btn btn-primary w-100">Dodaj prijatelja</button>
                </div>
                <div class="col-3 col-sm-3" *ngIf="isFriend()">
                    <button class="btn btn-info w-100">Obrisi prijatelja</button>
                </div>
                <div class="col-3 col-sm-3">
                    <button class="btn btn-profile">{{ "Prijatelji: " + person.friendsNo}}</button>
                </div>
                <div class="col-3 col-sm-3">
                    <button class="btn btn-profile">{{ "Lokacije: "+ person.followedLocNo}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- objave korisnika -->
<app-post-list [profilePosts]="true" *ngIf="isFriend()"></app-post-list>
