<!-- informacije o korisniku -->
<div class="container border border-rounded my-2 p-2" *ngIf="this.person">
    <div class="row d-flex justify-content-around">
        <div class="col-5 col-md-2">
            <img src="{{person.imagePath}}" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-8">
            <p class="text-center info-text">
                {{person.firstName + " " + person.lastName}}
            </p>
            <p class="text-center info-text">
                {{person.email}}
            </p>
            <div class="row d-flex justify-content-around mt-2">
                <div class="col-3 col-sm-3" *ngIf="profileType && profileType == 3">
                    <button class="btn btn-primary w-100" (click)=onAddFriend()>Dodaj prijatelja</button>
                </div>
                <div class="col-3 col-sm-3" *ngIf="profileType && profileType == 2">
                    <button class="btn btn-info w-100" (click)="onDeleteFriend()">Obrisi prijatelja</button>
                </div>
                <div class="col-3 col-sm-3" *ngIf="profileType && profileType == 5">
                    <button class="btn btn-info w-100" (click)="onAcceptRequest()">Prihvati zahtev</button>
                </div>
                <div class="col-3 col-sm-3" *ngIf="profileType && profileType == 5">
                    <button class="btn btn-info w-100" (click)="onRejectRequest()">Odbij zahtev</button>
                </div>
                <div class="col-3 col-sm-3" *ngIf="profileType && profileType == 4">
                    <button class="btn btn-info w-100" (click)="onCancelRequest()">Otkazi zahtev</button>
                </div>
                <div class="col-3 col-sm-3" *ngIf="profileType && profileType == 1">
                    <button class="btn btn-primary w-100" routerLink="/add-post">Nova objava</button>
                </div>
                <div class="col-3 col-sm-3">
                    <button class="btn btn-profile">{{ "Prijatelji: " + person.friendsNo}}</button>
                </div>
                <div class="col-3 col-sm-3">
                    <button class="btn btn-profile">{{ "Lokacije: "+ person.followedLocNo}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- objave korisnika -->
<app-post-list [profilePosts]="true"
    *ngIf="person && person.posts && (profileType && (profileType == 1 || profileType == 2))"
    [posts]="this.person.posts">
</app-post-list>
<div class="container" *ngIf="this.person && this.person.posts && this.person.posts.length == 0">
    <h2 *ngIf="this.person && this.profileType==1">Dodajte novu objavu</h2>
    <h2 *ngIf="this.person && this.profileType==2">Ovaj korisnik nema objave</h2>
    <h2 *ngIf="this.person && this.profileType && this.profileType != 1 && this.profileType != 2">Ne mozete videti objave korisnika koji vam nisu prijatelji!</h2>
</div>
<div class="container border-bottom border-dark my-2"></div>
<div class="row justify-content-center mt-1">
    <div class="col-sm-1 d-flex justify-content-center"
    *ngIf="this.person && this.person.posts && this.person.posts.length > 0 && !allRead">
        <button mat-icon-button class="w-50 load-more" (click)="loadMore($event)"><mat-icon>keyboard_arrow_down</mat-icon></button>
    </div>
</div>
