/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.post-button {
    color: #cfcfcf;
    border: none;
    box-shadow: none;
    background-color: transparent;
}
.post-button:hover{
    color: white;
}

.btn-profile{
    width: 100%;
    background-color: #cfcfcf;
}