.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(13 104 136 / 13%);
}

input[type="file"] {
  visibility: hidden;
}

.slika {
  width: 230px;
  height: 230px;
  max-width: 230px;
  max-height: 230px;
}
/* .slika-conteiner {
  display: flex;
  flex-direction: row;
}
 */

.reg {
  height: 90%;
}
