.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(208, 245, 75, 0.13);
}

input[type="file"] {
  visibility: hidden;
}

.slika {
  width: 230px;
  height: 230px;
  max-width: 230px;
  max-height: 230px;
}

@media only screen and (min-width: 990px) {
  .reg {
    height: 90%;
  }
}

.btn-reg {
  background-color: transparent;
}
.btn-reg:hover {
  background-color: #b0f0f5;
  opacity: 0.8;
  color: rgb(42, 16, 66);
  border: 1px solid #540a57;
}
