.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(208, 245, 75, 0.13);
}

input[type="file"] {
  visibility: hidden;
}

.slika {
  width: 230px;
  height: 230px;
  max-width: 230px;
  max-height: 230px;
}

@media only screen and (min-width: 990px) {
  .reg {
    height: 90%;
  }
}
