.continer {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    height: 200vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.comment-list-div {
    padding: 1.5em;
    width: 50%;
    max-height: 90vh;
}

.post-div {
    width: 50%;
}

.close {
    left: 87vw;
    width: 40px;
    height: 30px;
    position: absolute;
    z-index: 100;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

mat-icon {
    color: #3b3a3a;
}

mat-icon:hover {
    color: black;
}

@media only screen and (max-width: 600px) {
    .backdrop {
        height: 200vh;
    }
    .panel {
        height: 147vh;
    }
}