<div class="backdrop" [ngStyle]="{top: this.startY.toString() + 'px'}"></div>
<button (click)="onCloseView()" class = "close" mat-icon-button [ngStyle]="{top: (this.startY + 15).toString() + 'px'}"><mat-icon>close</mat-icon></button>
<div class="panel rounded rounded-lg d-flex flex-row justify-content-center align-items-center p-2" 
[ngStyle]="{top: (this.startY + 10).toString() + 'px'}">
        <app-post [post] = "this.post" class="image-part col-sm-6" [showImage]="true"></app-post>
        <div class="col-sm-6">
            <app-comment-list></app-comment-list>
        </div>
</div>