<div class="container">
  <div class="header">
    <button (click)="onCloseView()" class="close" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <div class="comment-list-div">
      <app-comment-list [post]="this.post"></app-comment-list>
    </div>
    <div class="post-div">
      <app-post
        [post]="this.post"
        class="image-part col-sm-6 border border-white"
        [showImage]="true"
      >
      </app-post>
    </div>
  </div>
</div>
